In [14]:
import pandas as pd

df_pona = pd.read_csv('..\data\cleaned_PONA_data.csv')
df_pona['日期'] = pd.to_datetime(df_pona['日期'])
df_pona

,日期,n-P值,i-P值,n+i P值,Aromatics,N,O,乙烯產量,丙烯產量
0,2011-01-01,37.37,37.02,74.39,7.48,14.62,0.38,2027.790,1013.428
1,2011-01-02,37.55,38.12,75.67,6.57,15.11,0.67,2037.689,1000.636
2,2011-01-03,37.55,38.12,75.67,6.57,15.11,0.67,2033.379,1032.877
3,2011-01-04,38.38,40.75,79.13,5.77,12.11,0.67,2092.455,1030.667
4,2011-01-05,38.38,40.75,79.13,5.77,12.11,0.67,2074.320,1026.670
...,...,...,...,...,...,...,...,...,...
3608,2021-08-27,39.25,38.05,77.30,5.25,13.28,1.93,2108.536,1066.904
3609,2021-08-28,39.25,38.05,77.30,5.25,13.28,1.93,2115.991,1066.902
3610,2021-08-29,39.25,38.05,77.30,5.25,13.28,1.93,2110.453,1064.791
3611,2021-08-30,39.25,38.05,77.30,5.25,13.28,1.93,2107.406,1061.168
3612,2021-08-31,39.35,39.92,79.27,4.58,13.58,0.94,2107.406,1061.168

In [12]:
df_cot = pd.read_csv('..\data\cleaned_COT_data.csv')
df_cot['日期'] = pd.to_datetime(df_cot['日期'])
df_cot

,日期,H-110 COT,H-120 COT,H-130 COT,H-140 COT,H-150 COT,H-160 COT,H-170 COT,H-180 COT,H-190 COT
0,2020-01-01 00:00:00,824.37,824.76,824.67,237.69,825.08,830.80,814.64,824.68,825.01
1,2020-01-01 00:10:00,825.28,825.38,825.61,252.83,825.51,834.09,815.16,825.39,825.42
2,2020-01-01 00:20:00,824.67,824.87,824.47,265.87,824.03,840.08,814.72,824.52,824.96
3,2020-01-01 00:30:00,823.62,824.49,824.76,275.72,823.62,845.13,814.67,824.05,824.67
4,2020-01-01 00:40:00,825.00,824.92,825.07,285.64,825.80,845.21,815.50,825.41,825.17
...,...,...,...,...,...,...,...,...,...,...
52700,2020-12-31 23:20:00,818.15,817.72,817.37,818.09,817.59,816.89,817.96,817.18,478.11
52701,2020-12-31 23:30:00,817.00,817.63,816.80,817.88,817.20,818.47,817.68,817.58,469.84
52702,2020-12-31 23:40:00,817.50,817.39,817.53,818.45,817.37,817.88,817.68,817.61,463.99
52703,2020-12-31 23:50:00,817.44,818.41,817.86,816.79,817.16,817.64,817.94,817.20,458.82
52704,2021-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_merged = pd.merge(df_cot,df_pona,how='left',on='日期')
df_merged

,日期,H-110 COT,H-120 COT,H-130 COT,H-140 COT,H-150 COT,H-160 COT,H-170 COT,H-180 COT,H-190 COT,n-P值,i-P值,n+i P值,Aromatics,N,O,乙烯產量,丙烯產量
0,2020-01-01 00:00:00,824.37,824.76,824.67,237.69,825.08,830.80,814.64,824.68,825.01,40.30,39.93,80.23,3.88,14.80,0.84,2031.233,959.480
1,2020-01-01 00:10:00,825.28,825.38,825.61,252.83,825.51,834.09,815.16,825.39,825.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01 00:20:00,824.67,824.87,824.47,265.87,824.03,840.08,814.72,824.52,824.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01 00:30:00,823.62,824.49,824.76,275.72,823.62,845.13,814.67,824.05,824.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01 00:40:00,825.00,824.92,825.07,285.64,825.80,845.21,815.50,825.41,825.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52700,2020-12-31 23:20:00,818.15,817.72,817.37,818.09,817.59,816.89,817.96,817.18,478.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52701,2020-12-31 23:30:00,817.00,817.63,816.80,817.88,817.20,818.47,817.68,817.58,469.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52702,2020-12-31 23:40:00,817.50,817.39,817.53,818.45,817.37,817.88,817.68,817.61,463.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52703,2020-12-31 23:50:00,817.44,818.41,817.86,816.79,817.16,817.64,817.94,817.20,458.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52704,2021-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.53,39.99,78.52,3.49,16.28,1.07,2099.100,1079.458

In [15]:
df_merged.to_csv('../data/df_merged.csv')