In [3]:
import pandas as pd

path1 = '../data/(數值檔)輕油原料COT分析2018-2021年 ver2.xlsx'
path2 = '../data/(數值檔)輕油原料COT分析 2020年.xlsx'

def process_cot_data(path):
    df = pd.read_excel(path,index_col=0)
    df.index.name = '日期'
    v = ['H-'+str(i)+' COT' for i in range(110,200,10)]
    df = df.loc[:,v].iloc[1:]
    return df

In [4]:
df1 = process_cot_data(path1)
df1

,H-110 COT,H-120 COT,H-130 COT,H-140 COT,H-150 COT,H-160 COT,H-170 COT,H-180 COT,H-190 COT
日期,,,,,,,,,
2018-08-01 00:00:00,820.046,29.8006,820.729,820.601,820.04,819.587,820.273,821.509,820.207
2018-08-01 00:10:00,818.147,29.58,818.535,818.693,818.604,816.963,818.849,816.914,819.321
2018-08-01 00:20:00,818.324,29.4944,819.612,819.29,820.808,819.384,819.46,820.119,819.244
2018-08-01 00:30:00,819.605,29.3303,819.858,819.296,819.349,819.066,818.819,818.713,819.159
2018-08-01 00:40:00,821.526,29.457,819.666,820.333,820.627,820.719,819.731,821.596,820.747
...,...,...,...,...,...,...,...,...,...
2021-06-30 23:10:00,27.4084,27.5266,27.7666,27.4041,26.939,27.2029,26.8993,26.6555,27.4906
2021-06-30 23:20:00,27.4074,27.488,27.7984,27.3988,26.9013,27.2436,26.872,26.638,27.4985
2021-06-30 23:30:00,27.3932,27.4996,27.7527,27.3996,26.8915,27.1955,26.8319,26.6266,27.4819
2021-06-30 23:40:00,27.3969,27.4545,27.7331,27.3817,26.8554,27.1728,26.8306,26.6436,27.4739
2021-06-30 23:50:00,27.3609,27.4409,27.7346,27.3319,26.8313,27.1387,26.8347,26.5991,27.4649

In [5]:
df2 = process_cot_data(path2)
df2

,H-110 COT,H-120 COT,H-130 COT,H-140 COT,H-150 COT,H-160 COT,H-170 COT,H-180 COT,H-190 COT
日期,,,,,,,,,
2020-01-01 00:00:00,824.37,824.76,824.67,237.69,825.08,830.80,814.64,824.68,825.01
2020-01-01 00:10:00,825.28,825.38,825.61,252.83,825.51,834.09,815.16,825.39,825.42
2020-01-01 00:20:00,824.67,824.87,824.47,265.87,824.03,840.08,814.72,824.52,824.96
2020-01-01 00:30:00,823.62,824.49,824.76,275.72,823.62,845.13,814.67,824.05,824.67
2020-01-01 00:40:00,825.00,824.92,825.07,285.64,825.80,845.21,815.50,825.41,825.17
...,...,...,...,...,...,...,...,...,...
2020-12-31 23:20:00,818.15,817.72,817.37,818.09,817.59,816.89,817.96,817.18,478.11
2020-12-31 23:30:00,817.00,817.63,816.80,817.88,817.20,818.47,817.68,817.58,469.84
2020-12-31 23:40:00,817.50,817.39,817.53,818.45,817.37,817.88,817.68,817.61,463.99
2020-12-31 23:50:00,817.44,818.41,817.86,816.79,817.16,817.64,817.94,817.20,458.82
2021-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df1
df.index[0],df.index[-1]

(Timestamp('2018-08-01 00:00:00'), Timestamp('2021-06-30 23:50:00'))

In [7]:
df.to_csv('../data/cleaned_COT_data.csv')
df = pd.read_csv('../data/cleaned_COT_data.csv')
print(df.shape)
df.head()

(153360, 10)

,日期,H-110 COT,H-120 COT,H-130 COT,H-140 COT,H-150 COT,H-160 COT,H-170 COT,H-180 COT,H-190 COT
0,2018-08-01 00:00:00,820.046387,29.800571,820.729370,820.600525,820.039612,819.586975,820.273438,821.509033,820.206848
1,2018-08-01 00:10:00,818.146851,29.580025,818.534668,818.692932,818.604431,816.963257,818.849060,816.913757,819.320862
2,2018-08-01 00:20:00,818.323975,29.494396,819.611572,819.289856,820.808228,819.384216,819.460083,820.118835,819.244202
3,2018-08-01 00:30:00,819.604675,29.330263,819.857727,819.296204,819.349243,819.066467,818.818909,818.713257,819.158691
4,2018-08-01 00:40:00,821.526184,29.456963,819.666077,820.332581,820.627075,820.719360,819.730835,821.595703,820.747253